<center><h1>Week {{varData.week}}</h1></center>
<br>
<h4> 
    <b>Associate ID:</b> {{varData.assId}}<br>
    <b>Batch ID:</b> {{varData.idnum}}<br>            
    <b>Name:</b> {{varData.name}}<br>
    <b>Email:</b> {{varData.email}}<br>
    <b>Phone:</b> {{varData.phone}}<br>
    <b>Profile URL:</b> {{varData.profileurl}}<br>
    <b>Status:</b> {{varData.status}}<br>
    <b>Skill:</b> {{varData.skill}}<br>
    <b>Flag status:</b> {{varData.flagstatus}}<br>
    <b>QC score:</b> {{varData.qcscore}}<br>
    <b>QC red:</b> {{varData.qcred}}<br>
    <b>Report Time:</b> {{varData.reporttime}}<br>
</h4> 
<br>
{{yield}}